<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<html>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      function formatMessage(msg) {
          return `<li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">${msg.username} <small style = " color:gray; font-size:60%"> at ${moment(msg.createdAt).format("MMMM Do YYYY, h:mm:ss a")}</small></div>

            ${msg.text}
          </div>
        </li>`
      }
      var socket = io('http://localhost:3000');
        socket.on('user', function (msg) {
          console.log(msg)
          socket.on(msg, function (newMsg) {
            const chat = document.getElementById('chat');
            chat.innerHTML += formatMessage(newMsg);
          });
         const users = document.getElementById('user');
         users.innerHTML += `<p>${msg}</p>`;
      });
        socket.on('users', function (msg) {

         var users = document.getElementById('users');
         users.innerHTML =""; 
         console.log(msg)
         msg.forEach( u => users.innerHTML += `<p>${u.username} <small>${u.status? 'online': 'offline'}</small></p>`);
      });

      socket.on(`<%= channel %>`, function (msg) {
         const chat = document.getElementById('chat');
         chat.innerHTML = formatMessage(msg) + chat.innerHTML;
      });

      socket.on('history', function (msgs) {
         var chat = document.getElementById('chat');
         msgs.sort((a,b)=> b.createdAt - a.createdAt).forEach(msg =>  chat.innerHTML = formatMessage(msg)+chat.innerHTML)

      });

      socket.emit(`reclaimHistory`, `<%= channel %>`);

      var send = function() {
        var msg = document.getElementById('msg');
        socket.emit('message', {msg:msg.value,channel:`<%= channel %>`});
        document.getElementById('msg').value=""
      };

      var joinRoom = function() {
        var msg = document.getElementById('room');
        location.href  = "/chats/"+msg.value
      };
    </script>

    <section class="container-fluid">
      <div class="row h-100">
        <div class="col-3" style="background-color: blueviolet; color: white">
          <h5>Logged as</h5>

          <pre id="user"></pre>
          <h5>Users</h5>
          <pre id="users"></pre>
          <hr/>
          <h5>Join Any room</h5>

           <input type="text" class="form-control" type="text" id="room" placeholder="">
          <button class="btn btn-fluid btn-primary" type="button" id="button-addon1" onclick="joinRoom();">Join</button>

        </div>
        <div class="col ">
          <h4> Chatroom: <%= channel %></h4>
          <div class="input-group mb-3">
            <input type="text" class="form-control" type="text" id="msg" placeholder="Type your message">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="send();">Send</button>

          </div>
          <ul class="list-group overflow-auto" id="chat"></ul>
          
        </div>
      </div>
    </section>
  </body>
</html>
