<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
<!DOCTYPE html>
<html>
  <head>
	<title>Example Login Form</title>
  </head>
  <body>
	<div class="container p-5">
	<form action="/users/autenticate" method="post">
	<div class="mb-3">
  	<!-- user input-->
	<% if(error){ %>
		<div class="alert alert-danger" role="alert">
		Wrong username or password
		</div>
	<% } %>
  	Username:<br>
  	<input type="text" name="username" placeholder="Username" required>
	</div>
	<div class="mb-3">
  	Password:<br>
  	<input type="password" name="password" placeholder="Password" required><br><br>
  	<!-- submit button -->
	  </div>
  	<input class="btn btn-primary" type="submit" value="login">
	<a href="/signup">Create user</a>
	</form>
	</div>
  </body>
</html>
